.App {
  text-align: center;
  width:100%;
  height:auto;
  margin:5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.create{
  width:90%;
  height:40rem;
  background-color:white;
  border:2rem solid #E6AC00 ;
}
.create-box{
  width: 100%;
  font-size: 5rem;
}
.form{
  width:80rem;
  height:50rem;
  background-color: #E6AC00;
  margin:2%;
  font-size: 4rem;
  padding: 2%;
  border: 8px solid black;
  text-align: left;
}

.nav{
  display: flex;
  width: 90%;
  height:10vh;
  background-color:#E6AC00;
  font-size: 20px;
  padding: 2%;
  justify-content: space-evenly;
}

.header{
  font-size: 10rem;
}
.buttons{
  font-size: 10rem;
  border-radius: 5rem;
  width:50rem;
  border: 3px solid Black;
  margin-left: 1%;
  margin-top: 1%;
} 
label{
  padding:1%;
  
}

.login-form{
  width:90%;
  height:40rem;
  background-color:white;
  border:2rem solid #E6AC00 ;
  font-size: 5rem;
  margin-top: 2%;
}

.signup-form{
  width:90%;
  height:40rem;
  background-color:white;
  border:2rem solid #E6AC00 ;
  font-size: 5rem;
  margin-top: 2%;
}